.custom-navbar {
  background-color: #000;
  height: 100px;
  padding: 0 40px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.navbar-logo {
  width: 60px;
  height: 60px;
}

.navbar-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.nav-link {
  font-size: 1.2rem;
  margin-right: 20px;
  color: #fff !important;
}

.nav-link:hover {
  color: #ff0000 !important;
}

.form-control {
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

.btn-outline-light {
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
}
